**/Obj_default
**/minimd/*.txt
**/minimd/miniMD
**/minimd/reference_output/
**/minimd/config.sample
**/rma/minimd/test.sh
**/modalysis/modalysis
**/minimd/config.sample
**/modalysis/modalysis
*.o
**/modalysis/*.txt